# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- List some Data Science Tools
- Give some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| ------------------ |
| 1. RStudio |
| 2. Apache Spark |
| 3. Apache Hadoop |

### Below are a few examples of Some of the commonly used libraries used by Data Scientists

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bruna Tosco